<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Healthcare</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Healthcare</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>
    
    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 id="heading">Understanding the Affordable Care Act</h2>
                </div>
			</div>
			
			<div class="row" id="decisionForm">
				<div class="col-md-12">
					<form class="form" role="form" action="question" method="post">
						<div class="form-group">
							<h3 id="decisionTreeQuestion" for="decisionTreeQuestion">Federal or State level?</h3>
						</div>
						<div class="col-md-5">
							<button type="button" id="fed" class="btn btn-default decisionTreeAnswer">Federal</button>
						</div>
						<div class="col-md-5">
							<button type="button" id="ill" class="btn btn-default decisionTreeAnswer">State</button>
						</div>
					</form>
				</div>
			</div>
			
			<div class="row" id="questionWrapper">
				<div class="col-md-12">
					<form class="form" role="form">
						<div class="form-group">
							<label for="watsonQuestion">What questions do you have about the ACA?</label>
							<input type="text" class="form-control" id="watsonQuestion" name="watsonQuestion" placeholder="Ask Watson">
						</div>
						<button id="questionSubmit" type="button" class="btn btn-success btn-default pull-right">Submit</button>
					</form>
				</div>
			</div>
			
			<div id="QAWrapper">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								Question 1
							</div>
							<div class="panel-body">
								Answer 1
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								Question 2
							</div>
							<div class="panel-body">
								Answer 2
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								Question 3
							</div>
							<div class="panel-body">
								Answer 3
							</div>
						</div>
					</div>
				</div>
			</div>
        </div><!-- /.container -->

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/main.js"></script>
  </body>
</html>